.bg-image{
    background-repeat: no-repeat;
    background-position: static;
  }
  .bg-image-prompt{
    background-repeat: no-repeat;
    background-position: center;
  }

  .Image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #9805ed;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.6),
      rgba(214, 77, 14, 0.6) 100%
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      45deg,
      rgba(7, 7, 225, 0.6),
      rgba(83, 1, 1, 0.6) 100%
    );
  }

  .titlefont
  {
    font-size: 140px;
    color: white;
  }
  .subtext
  {
    font-size: 16px;
    color:white;
    text-align: left;
    max-width: 500px;
  }

  @media only screen and (min-width: 601px) {
    .textmq {
      font-size: 100px;
    }
  }
  @media only screen and (max-width: 600px) {
    .textmq {
      font-size: 30px;
    }
  }